.body {
    background-color: #ffffffc2;
}

.modelo {
    width: 45%;
    border-radius: 15px;
}

.card {
    background-color: rgb(240, 240, 240);   
    max-width: 110%;
    max-height: 85%;
    border-radius: 0.6em;
    display: block;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.192);
    margin-top: 15%
}

.btn-success {
    display: inline-flex;
    width: 45%;
    height: 20%;
    margin: 22px;
}

.card-title {
    align-items: center;
    color: rgba(0, 0, 0, 0.726);
}

.card-text {
    display: inline-flex;
    color: rgba(0, 0, 0, 0.726);
}

.card-img-top {
    max-width: 90%;
    max-height: 90%;
    display: block;
    border-radius: 5%;
    margin-top: 5%;
    margin-left: 5%;
}